:root{
    --red: #dc3545;
}

html{
    scroll-behavior: smooth;
}

.color-d{
    color: #dc3545;
    max-width: 80%;
    text-align: center;
    justify-content: center;
    margin-left: 200px;
}

.w-text{
    font-weight: 700;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/glav/1622468922392.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.05);
    filter: blur(8px);
    z-index: -2;
}

body{
    position: relative;
    z-index: 0;
}

.menu-list{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.menu-item{
    text-decoration: none;
}

.navbar{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link{
    color: black;
    transition:  color 0.5s;
}

.nav-link:hover{
    color:var(--red) ;
}

section#novinki .card{
    transition: transform 0.5s;
}

section#novinki .card:hover{
    transform: scale(1.05);
}

section#warranty img{
    max-width: 400px;
    min-width: 200px;
}

section#courses .nav-link.active{
    background-color: var(--red);
}

section#courses .nav-link{
    color: white;
}

.btn-up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: white;
  background-color: var(--red);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  text-decoration: none;
}



.btn-up:hover {
  color: black;
}

.btn-up:hover i {
  transform: scale(1.2);
  font-size: 1.4rem;
}


.heading{
    text-align: center;
}

.dropdown-menu{
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition:  opacity 0.2s;
}

.dropdown-menu li{
    background: #333;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;

}

.navbar li{
    cursor: pointer;
    background: transparent;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar li:hover{
    background: transparent;
    color: #ffff;
}

.burger-checkbox{
    display: none;
}

@media(max-width:768px){
    .burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu-list {
  top: 0;
  right: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: rgb(36, 37, 43);
  list-style-type: none;
  transform: translateX(100%);
  transition: .3s;
  width: 200px;
}
.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}
}
